{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% load widget_tweaks %}

<!-- title -->
{% block title %} Dhapdam{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Add Features</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dam:dadmin-features' %}">Features</a></li>
                    <li class="breadcrumb-item active">Add Features</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Dam Information</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label class="tractor-label">Content</label> {{ form.content}} {% comment %} {% render_field form.content class="form-control tractor-input" rows="4" %} {% endcomment %}
                                    <!-- <textarea  class="form-control tractor-textarea"></textarea> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Dam Type</label> {% render_field form.dam_type class="form-control tractor-input" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Location of Dam</label> {% render_field form.location_of_dam class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dam height (D/S toe to crest)</label> {% render_field form.dam_height class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dam top Length (Crest Length)</label> {% render_field form.dam_top_length class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dam crest elevation</label> {% render_field form.dam_crest_elevation class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Upstream slope inclination</label> {% render_field form.upstream_slope_inclination class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Downstream slope inclination</label> {% render_field form.downstream_slope_inclination class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Crest width</label> {% render_field form.crest_width class="form-control tractor-input" %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Concrete face thickness</label> {% render_field form.Concrete_face_thickness class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Volume/ Level Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Normal Water Level (NWL)</label> {% render_field form.normal_waterlevel class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Freeboard (measured from the dam crest)</label> {% render_field form.Freeboard class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Reservoir volume</label> {% render_field form.reservoir_volume class="form-control tractor-input" %}

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Saddle Dam</label> {% render_field form.saddle_dam class="form-control tractor-input" %}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="btn btn-success btn-theme-admin rounded-0" type="submit" value="Add Features" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}