{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Nagmati Dam{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href="{% url 'company:nagmatidam' %}" class="link text-theme-light-blue">Nagmati Dam</a> / <a href="{% url 'company:nagmati-status' %}" class="link text-theme-light-blue">Project Status</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="content-title">Present Status of Project</h5>
                <div class="about__content">
                    <p class="about__content---para">
                        {{status_of_project.content|safe}}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-tab sidebar-sticky-top">
                    <h5 class="sidebar-tab__title">Nagmati Dam</h5>
                    <ul class="sidebar-bar">
                        <li class="sidebar-bar__item"><a href="{% url 'company:nagmatidam' %}" class="sidebar-bar__item---link">Introduction</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:nagmati-location' %}" class="sidebar-bar__item---link">Location and Accessibility</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:nagmati-features' %}" class="sidebar-bar__item---link">Sailent Features</a></li>
                        <li class="sidebar-bar__item active"><a href="{% url 'company:nagmati-status' %}" class="sidebar-bar__item---link active">Present Status of Project</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:nagmati-maps' %}" class="sidebar-bar__item---link">Maps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}