{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Construction{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Work Footage</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Work Footage</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {% include 'admin/fade_call.html' %}
                <a class="work-footage-create btn btn-block btn-success btn-theme-admin rounded-0"
                    data-id="{% url 'work-footage-create' %}">
                    Add Work Footage</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="data-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name of Work</th>
                                <th>Clip</th>
                                <th>Clip Duration</th>
                                <th>Remarks</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in workfootages %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{item.name_of_work}}</td>
                                <td>
                                    {% if item.url %}
                                            <a class="downloadfile-edit"
                                            href="{{item.url}}"
                                            target="_blank" data-toggle="tooltip" data-placement="bottom"
                                            title="Open"><i
                                                class="fas fa-envelope-open-text text-secondary"></i></a>
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>{{item.duration_of_clip}}</td>
                                <td>{{item.remarks}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a class="work-footage-edit"
                                        data-id="{% url 'work-footage-update' item.id %}"
                                        data-cooltipz-dir="bottom" aria-label="Edit"><i
                                            class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon mr-3"><button data-cooltipz-dir="bottom"
                                        aria-label="Delete" data-id="{% url 'work-footage-delete' item.id %}"
                                        class="work-footage-delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}
<script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });

    $(".work-footage-create").each(function () {
        $(this).modalForm({
            formURL: $(this).data("id"),
        });
    });
    //update
    $(".work-footage-edit").each(function () {
        $(this).modalForm({
            formURL: $(this).data("id"),
        });
    });
    // delete alert
    $(".work-footage-delete").each(function () {
        $(this).modalForm({
            formURL: $(this).data("id"),
        });
    });
</script>

{% endblock %}