{% extends '../../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- css -->
{% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Survey Equipments{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href="{% url 'company:survey-equipment' %}" class="link text-theme-light-blue">Construction / Survey Equipments </a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="content-title">Survey Equipments </h5>
                <div class="bsa-border rounded bsa-custom-table">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="2%">SN</th>
                                    <th>Description</th>
                                    <th>Specification</th>
                                    <th>Quantity(nos.)</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in object_list %}
                                <tr>
                                    <td class="text-center">{{forloop.counter}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.specification}}</td>
                                    <td class="text-center">{{item.quantity}}</td>
                                    <td>{{item.remarks}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-tab sidebar-sticky-top">
                    <h5 class="sidebar-tab__title">Construction Equipments</h5>
                    <ul class="sidebar-bar">
                        <li class="sidebar-bar__item"><a href="{% url 'company:earth-equipment' %}" class="sidebar-bar__item---link">Earthing Moving & Compaction</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:concreting-equipment' %}" class="sidebar-bar__item---link">Concreting Equipments</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:grouting-equipment' %}" class="sidebar-bar__item---link">Grouting Equipments</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:brazing-equipment' %}" class="sidebar-bar__item---link">Brazing Equipments</a></li>
                        <li class="sidebar-bar__item active"><a href="{% url 'company:survey-equipment' %}" class="sidebar-bar__item---link active">Survey Equipments</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:lab-equipment' %}" class="sidebar-bar__item---link">Lab Equipments</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'company:geophysical-equipment' %}" class="sidebar-bar__item---link">Geophysical Investigation Equipments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- script -->
{% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });
</script>
{% endblock %}