{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Forgot Password{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href=""
                    class="link text-theme-light-blue">Forgot Password</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="col-12 col-md-6 mx-auto">
            <div class="#">
                <form action="#" method="POST" class="sign-in-form">
                    {% csrf_token %}
                    <h5 class="bsaModal__header---title mb-2">
                        Forgot Password
                    </h5>
                    <p class="auth-text">Don't worry! Just fill in your email and we'll help you reset your password</p>
                    <div class="mb-3">
                        <label for="" class="bsa-label"> Email</label>
                        <!-- <p>{{form.email}}</p> -->
                        <input name="email" placeholder="Username / Email" type="text" class="form-control bsa-input" />
                    </div>
                    <button href="#" class="btn btn-secondary-theme btn-block btn-lg">Send
                        Email</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}