{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Forgot Password{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href=""
                    class="link text-theme-light-blue">Forgot Password</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="col-12 col-md-6 mx-auto">
            <div class="#">
                <form action="#" method="POST" class="sign-in-form">
                    {% csrf_token %}
                    <h5 class="bsaModal__header---title mb-2">
                        Reset Password
                    </h5>
                    <p class="auth-text">Please create new password that you don't use on any other site.</p>
                    <div class="mb-3">
                        <label for="" class="bsa-label"> New Password</label>
                        <input id="id_new_password1" name="new_password1" placeholder="*********" type="password"
                            class="form-control bsa-input"  required/>
                        <div class="text-danger">{{form.errors.new_password1}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="bsa-label"> Confirm Password</label>
                        <input id="id_new_password2" name="new_password2" placeholder="*********" type="password"
                            class="form-control bsa-input" required />
                        <div class="text-danger">{{form.errors.new_password2}}</div>

                    </div>
                    <button type="submit" class="btn btn-secondary-theme btn-block btn-lg">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}