{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}" />
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/bootstrap3-wysihtml5.min.css' %}" /> {% endblock %}
<!-- title -->
{% block title %}Contract{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Contract</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contract</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {% include 'admin/fade_call.html' %}
                <a href="{% url 'contracts:contract-add' %}" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Contract</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table
            id="data-table"
            class="table table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th width="2%">SN</th>
                <th>ID</th>
                <th>Name</th>
                <th>Work Name</th>
                <th>Contractor Name and Address</th>
                <th>Amount of agreement</th>
                <th>Date of Agreement</th>
                <th>Date of Completion as Agreement</th>
                <th>Date of Completion (Revised)</th>
                <th>Actual expenditure</th>
                <th>Current Project Status</th>
                <th>Contractor Liability Status</th>
                <th>Works completed</th>
                <th width="12%">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for contract in contracts %}

              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td>{{contract.contract_id}}</td>
                <td>{{contract.project_name}}</td>
                <td>{{contract.work_name}}</td>
                <td>{{contract.contractor_detail}}</td>
                <td>{{contract.amount}}</td>
                <td>{{contract.date_of_agreement}}</td>
                <td>{{contract.date_of_completion}}</td>
                <td>{% if contract.date_of_completion_revised %}{{contract.date_of_completion_revised}}{% endif %}</td>
                <td>{{contract.actual_expenditure}}</td>
                {% if contract.current_status == "C"%}
                <td>Completed</td>
                {% elif contract.current_status == "O" %}
                <td>Ongoing</td>
                {% endif %} {% if contract.contractor_liability_status == "C"%}
                <td>Completed</td>
                {% elif contract.contractor_liability_status == "O" %}
                <td>Ongoing</td>
                {% endif %}
                <td>{{contract.works_completed}}</td>


                <td class="text-center">
                  <span class="action-icon mr-3"
                    ><a
                      href="{% url 'contracts:contract-update' contract.id %}"
                      data-cooltipz-dir="bottom"
                      aria-label="Edit"
                      ><i class="fas fa-edit text-secondary"></i></a
                  ></span>
                  <span class="action-icon mr-3"
                    ><a
                      class="contract-delete"
                      data-id="{% url 'contracts:contract-delete' contract.pk %}"
                      data-cooltipz-dir="bottom"
                      aria-label="Delete"
                      ><i class="fas fa-trash text-danger"></i></a
                  ></span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}
<script>
  $(document).ready(function () {
    $("#data-table").DataTable({
      "scrollX": true,
    });

 
  });
  // delete alert
  //delete
  $(".contract-delete").each(function () {
    $(this).modalForm({
      formURL: $(this).data("id"),
    });
  });
</script>
{% endblock %}