{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- css -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/venobox.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Dhap Dam{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href="{% url 'contracts:dhap-location' %}" class="link text-theme-light-blue">Dhap Dam / Location & Accessibility</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="content-title">Location and Accessibility</h5>
                <div class="about__content">
                    <p>
                        {{location.content|safe}}
                    </p>
                    {% if location.image %}
                    <div class="about__image">
                        <a href="{{location.image.url}}" class="venobox" data-gall="gallery-item">
                            <img src="{{location.image.url}}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}

                </div>
                <div class="row">
                    {% if location.accessibility_content %}
                    <div class="col-12">
                        <div class="about__content">
                            <h6>Accessibility</h6>
                            <p>
                                {% if location.accessibility_content %}{{location.accessibility_content|safe}}{% endif %}

                            </p>
                            {% if location.accessibility_image %}
                            <div class="about__image">
                                <a href="{{location.accessibility_image.url}}" class="venobox" data-gall="gallery-item">
                                    <img src="{{location.accessibility_image.url}}" alt="" class="img-fluid">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-tab sidebar-sticky-top">
                    <h5 class="sidebar-tab__title">Dham Dam</h5>
                    <ul class="sidebar-bar">
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-dam' %}" class="sidebar-bar__item---link">Introduction</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-features' %}" class="sidebar-bar__item---link">Salient features of Dam</a></li>
                        <li class="sidebar-bar__item active"><a href="{% url 'contracts:dhap-location' %}" class="sidebar-bar__item---link active">Location and Accessibility</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-work-components' %}" class="sidebar-bar__item---link">Major Work Components</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-contract' %}" class="sidebar-bar__item---link">Contract Details</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-design' %}" class="sidebar-bar__item---link">Design and Quality Aspects</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-environmental' %}" class="sidebar-bar__item---link">Environmental Aspects</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:dhap-maps' %}" class="sidebar-bar__item---link">Dhap Dam Maps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} } {% block script %}
<script src="{% static 'js/venobox.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.venobox').venobox();
    });
</script>
{% endblock %}