{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% load widget_tweaks %}

<!-- title -->
{% block title %}Dhap Dam{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Environmental Aspects</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dam:dadmin-environmental-aspects' %}">Environmental Aspects</a></li>
                    <li class="breadcrumb-item active">Edit Environmental Aspects</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label class="tractor-label">Content</label> {{ form.content }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="btn btn-success btn-theme-admin rounded-0" type="submit" value="Update Environmental Aspects" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}