{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% load widget_tweaks %}

<!-- title -->
{% block title %}Nagmati Dam{% endblock %}

<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Update Introduction</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dam:nadmin-intro'%}">Nagmati Dam</a></li>
                    <li class="breadcrumb-item active">Update Introduction</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <div class="col-md-6">
                        <form action="#" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- <p class="text-danger"></p> -->
                            <div class="mb-3">
                                <!-- <p>{{form.email}}</p> -->
                                <label class="tractor-label">Content</label> {{ form.content}}
                            </div>
                            {% if form.image.value %}
                            <div class="mb-3 file-input-block">
                                <label class="tractor-label">Image</label>
                                <div class="upt-custom-file">
                                    <div class="bg-white"></div>
                                    <div class="edit-custom"> {% render_field form.image class="form-control career-file" %}
                                        <input type="text" class="career-text form-control bsa-file">
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <label class="tractor-label">Image</label>
                                <div class="upt-custom-file">
                                    {% render_field form.image class="form-control career-file" %}
                                    <!-- <input type="file" class="career-file form-control" required> -->
                                    <input type="text" class="career-text form-control bsa-file">
                                    <label class="career-upload">Choose file</label>
                                </div>
                            </div>
                            {% endif %}
                            <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">
                                    Update Introduction</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail Edit  -->

{% endblock %} {% block script %}
<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %} {% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    //update

    var message_ele = document.getElementById("messages");
    console.log("message_ele", message_ele);
    setTimeout(function() {
        message_ele.style.display = "none";
    }, 3000);


    // input-file-image
    $('.upt-custom-file input[type="file"]').change(function(e) {
        $(this).siblings('input[type="text"]').val(e.target.files[0].name);
        $('.career-upload').hide()
    });

    $('.file-input-block .upt-custom-file input[type="file"]').change(function(e) {
        $(this).siblings('input[type="text"]').val(e.target.files[0].name);
        $('.edit-custom a').hide()
    })
</script>
{% endblock %}