{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}" />
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}" /> {% endblock %}
<!-- title -->
{% block title %}Users{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Users</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                {% include 'admin/fade_call.html' %}
                <a href="{% url 'company:add-user' %}" class="btn btn-block btn-success btn-theme-admin rounded-0">Add User</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table
            id="data-table"
            class="table table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th width="2%">SN</th>
                <th>Name</th>
                <th>Phone</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Identification</th>
                <th>Identification No.</th>
                <th>Designation</th>
                <th>Username</th>
                <th width="12%">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in users %}
              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                
                <td>{{item.full_name}}</td>
                <td>
                  <span class="badge bg-theme-green f-13 font-weight-400 text-white">{{item.phone}}</span>
                </td>
                <td>{{item.dob}}</td>
                <td>{{item.email}}</td>
                <td>{{item.get_identification_display}}</td>
                <td>{% if item.id_number %}{{item.id_number}}{% else %}<p>--</p>{% endif %}</td>
                <td>
                  <span class="badge bg-info f-13 font-weight-400">{{item.get_designation_display}}</span>
                </td>
                <td>{% if item.username %}{{item.username}}{% else %}--{% endif %}</td>
              
                <td class="text-center">
                  <span class="action-icon mr-3"
                    ><a
                      href="{% url 'company:edit-user' item.pk %}"
                      data-cooltipz-dir="bottom"
                      aria-label="Edit"
                      ><i class="fas fa-edit text-secondary"></i></a
                  ></span>
                  <span class="action-icon mr-3"
                    ><a
                      class="user-delete"
                      data-id="{% url 'company:delete-user' item.pk %}"
                      data-cooltipz-dir="bottom"
                      aria-label="Edit"
                      ><i class="fas fa-trash text-danger"></i></a
                  ></span>
                </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}
<script>
  $(document).ready(function () {
    $("#data-table").DataTable({
      "scrollX":true
    });
  });
  // delete alert
  //delete
  $(".user-delete").each(function () {
    $(this).modalForm({
      formURL: $(this).data("id"),
    });
  });
</script>
{% endblock %}