{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}

<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}" />
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}" /> {%endblock %} {% load widget_tweaks %}
<!-- title -->
{% block title %}News{% endblock %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/modal/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'admin/js/modal/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">News</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">News</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                {% include 'admin/fade_call.html' %}
                <a class="btn btn-block btn-success btn-theme-admin rounded-0" href="{% url 'news:add-anews' %}">
          Add News</a
        >
      </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="data-table" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Image</th>
                                <th>category</th>
                                <th>Display</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for news in news %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{news.title}}</td>
                                <td>{{news.content|safe}}</td>
                                <td>{% if news.image %}<a href="{{news.image.url}}" data-toggle="tooltip" data-placement="bottom" title="Open">{{news.image.url|slice:"36:"}}</a>{% else %}
                                    {% endif %}</td>
                                {% comment %} <td>{% if news.image.url %}{% else %}Image not uploaded{% endif %}</td> {% endcomment %}
                                <td>{{news.category}}</td>
                                <td>{% if news.display %}Displayed{% else %}Not Displayed{% endif %}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'news:edit-anews' news.pk %}" data-cooltipz-dir="bottom"
                                    aria-label="Edit"
                                    ><i class="fas fa-edit text-secondary"></i></a></span>
                                                    <span class="action-icon mr-3"><a
                                    class="news-delete"
                                    data-id="{% url 'news:news-delete' news.pk %}"
                                    data-cooltipz-dir="bottom"
                                    aria-label="Edit"
                                    ><i class="fas fa-trash text-danger"></i></a
                                ></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<!-- You can alternativeadmin/ly load the minified version -->
<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}

<script>
    $(document).ready(function() {
        $("#data-table").DataTable();
    });

    //delete
    $(".news-delete").each(function() {
        $(this).modalForm({
            formURL: $(this).data("id"),
        });
    });
</script>
{% endblock %}