{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Important Link{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Important Link</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Important Link</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                {% include 'admin/fade_call.html' %}
                <a class="imp-link-create btn btn-block btn-success btn-theme-admin rounded-0" data-id="{% url 'company:imp-link-create' %}">Add Important Link</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="data-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Title</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in implink %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="dwn-title"><a href="{{ item.link }}">{{item.title}}</a></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{{ item.link }}" target="_blank"
                                            data-toggle="tooltip" data-placement="bottom" title="Open"><i
                                                class="fas fa-envelope-open-text text-secondary"></i></a></span>
                                    <span class="action-icon mr-3"><a class="imp-link-edit"
                                            data-id="{% url 'company:imp-link-update' item.pk %}"
                                            data-cooltipz-dir="bottom" aria-label="Edit"><i
                                                class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon mr-3"><a class="imp-link-delete"
                                            data-id="{% url 'company:imp-link-delete' item.pk %}"
                                            data-cooltipz-dir="bottom" aria-label="Delete"><i
                                                class="fas fa-trash text-danger "></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}

<script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });
    //create
    $(".imp-link-create").each(function() {
        $(this).modalForm({
            formURL: $(this).data('id')
        });
    });

    //update
    $(".imp-link-edit").each(function() {
        $(this).modalForm({
            formURL: $(this).data('id')
        });
    });

    //delete
    $(".imp-link-delete").each(function() {
        $(this).modalForm({
            formURL: $(this).data('id')
        });
    });
</script>
{% endblock %}