<div class="modal bsaModal fade instrumentation-modal" id="instrumentation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg bsa-modal-dialog">
        <div class="modal-content">
            <!-- if notice -->
            <div class="modal-header bsaModal__header">
                <h2 class="bsaModal__header---title">

                </h2>
                <button type="button" class="btn btn-close" id="close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body bsaModal__body">
                <h4 class="text-danger mb-3">Cooming soon</h4>
            </div>
        </div>
    </div>
</div>