{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Contract{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a
                    href="{% url 'contracts:c-ongoing' %}" class="link text-theme-light-blue">Contract</a>/
                    <a class="link text-theme-light-blue">Ongoing</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="content-title">Ongoing Contract</h5>
                <form method="GET" class="row row-cols-lg-auto g-3 align-items-center px-3 pt-3" class="contracts-form" data-year-url="{% url 'contracts:c-ongoing' %}">
                    <div class="col-12">
                        {% if on_contracts %}
                                <label for="bsa-label">Select Project </label>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {% if on_contracts %}
                        <select class="bsa-custom-select form-select contracts-name">
                                    {% for item in on_contracts %}
                                    <option value="{{ item.id }}" {% if item.project_name == completed_contract.project_name %}
                                        selected="selected" {% endif %}>{{ item.project_name }}</option>
                                    {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </form>
                <br>
                <div class="contract-table-ongoing table-responsive bsa-responsive-table mt-0 border-0">
                    <table class="table notranslate table-bordered bsa-table">
                        <tbody>
                            <tr>
                                <th colspan="2" style="background-color: #CCC0DA; text-align: center;font-size:14px;" >
                                    {{ongoing_contract.project_name}}</th>
                            </tr>
                            <tr style="background-color: #FFC7CE">
                                <th class="f-13">Contract ID</th>
                                <td style="text-align: left;">{{ongoing_contract.contract_id}}
                                </td>
                            </tr>
                            <tr style="background-color: #C6EFCE">
                                <th class="f-13" width="25%">Project Name</th>
                                <td style="text-align: left;">{{ongoing_contract.project_name}}
                                </td>
                            </tr>
                            <tr>
                                <th class="f-13">Work Name</th>
                                <td style="text-align: left;">{{ongoing_contract.work_name}}
                                </td>
                            </tr>

                            <tr>
                                <th class="f-13">Contract Name and address</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.contractor_detail}}</td>
                            </tr>
                            <tr style="background-color: #FFC7CE">
                                <th class="f-13">Date of agreement</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.date_of_agreement}}</td>
                            </tr>
                            <tr style="background-color: #C6EFCE">
                                <th class="f-13">Date of completion as agreement</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.date_of_completion}}</td>
                            </tr>
                            <tr>
                                <th class="f-13">Date of completion (Revised)</th>
                                <td style="text-align: left;">
                                    {% if ongoing_contract.date_of_completion_revised %}{{ongoing_contract.date_of_completion_revised}}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="f-13">Amount of Agreement</th>
                                <td style="text-align: left;">{{ongoing_contract.amount}}</td>
                            </tr>
                            <tr>
                                <th class="f-13">Actual Expenditure</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.actual_expenditure}}</td>
                            </tr>
                            <tr style="background-color: #C6EFCE">
                                <th class="f-13">Current Contract status</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.get_current_status_display}}</td>
                            </tr>
                            <tr>
                                <th class="f-13">Contractor libility status</th>
                                <td style="text-align: left;">
                                    {{ongoing_contract.get_contractor_liability_status_display}}
                                </td>
                            </tr>

                            <tr style="background-color: #FFC7CE">
                                <th class="f-13">Major works completed</th>
                                <td style="text-align: left;">{{ongoing_contract.works_completed}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-tab sidebar-sticky-top">
                    <h5 class="sidebar-tab__title">Contract</h5>
                    <ul class="sidebar-bar">
                        <li class="sidebar-bar__item active"><a href="{% url 'contracts:c-ongoing' %}" class="sidebar-bar__item---link active">Ongoing</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:c-completed' %}" class="sidebar-bar__item---link">Completed</a></li>
                        <li class="sidebar-bar__item"><a href="{% url 'contracts:c-progress' %}" class="sidebar-bar__item---link">Progress</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block script %}
<script>
    //update data in ongoing
    $(".contracts-name").change(function() {
        var url = $(".contracts-form").attr("data-year-url"); // get the url of the `load_cities` view
        var contractId = $(this).val(); // get the selected country ID from the HTML input
        console.log("year id", contractId)
        console.log("url", url)

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'contractId': contractId // add the country id to the GET parameters
            },
            success: function(data) {
                $('.contract-table-ongoing').html(jQuery(data).find('.contract-table-ongoing').html())
            }
        });

    });
</script>

{% endblock %}