{% extends '../../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Password Reset{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a
                    href="" class="link text-theme-light-blue">Password Reset</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="col-12 col-md-6 mx-auto text-center">
            <i class="fas fa-mail-bulk fa-4x mb-3 text-theme-light-blue"></i>
            <p class="mb-3 text-medium">
                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p>
            <p class="text-medium">
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </p>
        </div>
    </div>
</section>
{% endblock %}