{% extends 'layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- title -->
{% block title %}Coming Soon{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a href="" class="link text-theme-light-blue">Coming Soon</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- <h5 class="content-title">title</h5> -->
                <div class="row mt-3">
                    <div class="col-12">
                        <p>Coming Soon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}