{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}
<!-- css -->
{% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Test Footages{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a
                    href="{% url 'company:test-footage' %}" class="link text-theme-light-blue">Construction / Test
                    Footages </a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h5 class="content-title">Test Footages</h5>
                <div class="bsa-border rounded bsa-custom-table">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name of Work</th>
                                    <th>Clip</th>
                                    <th>Duration of Clip</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in object_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{item.name_of_work}}</td>
                                    <td>
                                        {% if item.url %}
                                            <a class="downloadfile-edit"
                                            href="{{item.url}}"
                                            target="_blank" data-toggle="tooltip" data-placement="bottom"
                                            title="Open"><i
                                                class="fas fa-envelope-open-text text-secondary"></i></a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                    <td>{{item.duration_of_clip}}</td>
                                    <td>{{item.remarks}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-tab sidebar-sticky-top">
                    <h5 class="sidebar-tab__title">Footages</h5>
                    <ul class="sidebar-bar">
                        <li class="sidebar-bar__item"><a href="{% url 'company:work-footage' %}"
                                class="sidebar-bar__item---link">Work Footages</a></li>
                        <li class="sidebar-bar__item active"><a href="{% url 'company:test-footage' %}"
                                class="sidebar-bar__item---link active">Test Footages</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- script -->
{% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#data-table').DataTable();
    });
</script>
{% endblock %}