{% extends '../layout/base.html' %}
<!-- load static -->
{% load static %}

<!-- css -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nepali.datepicker.v3.7.min.css' %}"> {% endblock %}
<!-- title -->

{% block title %}Administration{% endblock %}
<!-- content -->
{% block content %}
<section class="bsa-breadcrumb">
    <div class="container">
        <div class="breadcrumb mb-0">
            <span class="f-13"><a href="{% url 'index' %}" class="link text-theme-light-blue">Home</a> // <a
                    href="{% url 'news:darta-chalani' %}" class="link text-theme-light-blue">Darta Chalani</a>/ <a
                    href="{% url 'news:darta-list' %}" class="link text-theme-light-blue">Darta List</a></span>
        </div>
    </div>
</section>
<section class="page about pad-top-bot">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h5 class="content-title">Darta List</h5>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive bsa-responsive-table p-3">
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                                {% include 'admin/fade_call.html' %}
                                <a href="{% url 'news:darta-form' %}" class="btn btn-secondary-theme btn-block">Add
                                    Darta</a>
                            </div>
                            <div>
                                <br> {% comment %}
                                <form action="{% url 'news:darta-search' %}" method="get">
                                    <label for="from">From</label>
                                    <input type="text" id="from" name="from" class="bsa-input nepali-datepicker">
                                    <label for="to">to</label>
                                    <input type="text" id="to" name="to" class="bsa-input nepali-datepicker">
                                    <input class="btn btn-primary" type="submit" value="Submit">

                                </form> {% endcomment %}
                            </div>
                        </div>

                        <table id="table_dataframe" class="notranslate table table-bordered administration-table" width="100%">
                            <thead>
                                <tr>
                                    <th rowspan="2">दर्ता नं.</th>
                                    <th width="10%" rowspan="2">दर्ता मिति</th>
                                    <th colspan="3" class="border-bottom text-center">प्राप्त</th>
                                    <th rowspan="2">पठाउने व्यक्तिको वा कार्यालय</th>
                                    <th rowspan="2">ठेगाना</th>
                                    <th rowspan="2">विषय</th>
                                    <th rowspan="2">पठाउने शाखा</th>
                                    <th rowspan="2">कैफियत</th>
                                    <th rowspan="2">पत्रकाे फाेटाे / संलग्न कागजात</th>
                                    <th width="18%" rowspan="2">Action</th>
                                </tr>
                                <tr>
                                    <th>पत्र संख्या</th>
                                    <th>पत्रको च.नं.</th>
                                    <th>पत्रको मिति</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in dartas %}
                                <tr>
                                    <td>{{item.darta_no}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.patra_no}}</td>
                                    <td>{{item.cha_no}}</td>
                                    <td>{{item.patra_received_date}}</td>
                                    <td>{{item.sender}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.subject}}</td>
                                    <td>{{item.medium}}</td>

                                    <td>{% if item.remark %}{{item.remark}}{% endif %}</td>
                                    <td class="table-image">


                                        {% if item.image %}<span class="action-icon mr-3"><a href="{{item.image.url}}" target="_blank"
                                            data-toggle="tooltip" data-placement="bottom" title="Open">{{item.image.url|slice:"20:"}}</a></span> {% endif %}
                                    </td>
                                    <td>
                                        <!-- <span class="action-icon mr-3"><a href="" data-toggle="tooltip"
                                                data-placement="bottom" title="Open"><i
                                                    class="fas fa-eye text-secondary"></i></a></span> -->
                                        <span class="action-icon mr-3"><a href="{% url 'news:darta-update' item.id %}"
                                                data-toggle="tooltip" data-placement="bottom" title="Edit"><i
                                                    class="fas fa-edit text-secondary"></i></a></span>
                                        <span class="action-icon mr-3"><a
                                                data-id="{% url 'news:darta-delete' item.id %}"
                                                class="darta-delete"><i
                                                    class="fas fa-trash text-danger"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block script %}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/nepali.datepicker.v3.7.min.js' %}"></script>

<!-- django extra ajax based form display -->
{% include 'admin/django_bootstrap_js.html' %}

<script>
    $(document).ready(function() {
        $('#table_dataframe').DataTable({
            scrollX: true,
            "ordering": false
        });



    });


    // delete alert
    $(".darta-delete").each(function() {
        $(this).modalForm({
            formURL: $(this).data("id"),
        });
    });


    window.onload = function() {
        var mainInput = document.getElementsByClassName("nepali-datepicker");
        mainInput.nepaliDatePicker({
            dateFormat: "DD/MM/YYYY"
        });
    };
</script>
{% endblock %}